body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #fff;
}
.logo {
  width: 150px;
  height: auto;
  display: block;
  margin: 10px auto;
}
header,
.footer {
  background-color: #000;
  text-align: center;
  padding: 10px 0;
}
nav {
  background-color: #202020;
  text-align: center;
  padding: 10px 0;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
nav a:hover {
  color: #ff0000;
}
.main-content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
}
.review-highlight {
  background-color: #202020;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.review-highlight img {
  width: 30%;
  height: auto;
  border-radius: 5px;
}
.review-highlight h2 {
  color: #ff4500;
  margin-top: 15px;
}
.reviews-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.review-card {
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
}
.review-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.review-card h3,
.review-card p {
  margin: 10px 0;
}
footer {
  background: #222;
  color: #d3d4d6;
}
.socials {
  list-style-type: none;
  padding: 0;
}
.socials li {
  display: inline-block;
  margin-left: 10px;
}
.socials img {
  width: 32px;
}
.socials img:hover {
  opacity: 0.5;
}
.login-btn {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  background-color: #FF0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.login-btn:hover {
  background-color: #8B0000;
}
.navdiv{
  position: fixed;
  left: 0;
  background-color: black;
  right: 0;
}
