body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}
.logo {
  width: 175px;
  height: 75px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
header {
  background-color: #000;
  padding: 10px;
  text-align: center;
}
nav {
  background-color: #000;
  text-align: center;
  padding: 10px 0;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}
nav a:hover {
  color: #ff0000;
}
.login-btn {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.login-btn:hover {
  background-color: #8b0000;
}
.main-content, .product-cart {
  padding-top: 140px;
}
.car-section {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.car {
  flex: 0 0 calc(20% - 20px);
  margin: 10px;
  text-align: left;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
}
.car img {
  width: 300px;
  height: auto;
  border-radius: 5px;
}
.car p {
  margin-top: 10px;
  color: #fff;
  text-align: center;
}
.fc {
  color: #ff0000;
  text-align: center;
}
.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}
.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #ff0000;
  font-weight: bold;
}
.social-links a:hover {
  text-decoration: underline;
}
.social-links img {
  width: 20px;
}
.opinions-section {
  margin-top: 50px;
  text-align: center;
}
.opinions-section h2 {
  color: #ff0000;
  margin-bottom: 20px;
}
.car-opinion {
  width: calc(33.33% - 20px);
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  box-sizing: border-box;
}
.car-opinion:last-child {
  margin-right: 0;
}
.car-opinion img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.opinion-info {
  text-align: left;
}
.opinion-info h3 {
  color: #ff0000;
  margin-bottom: 10px;
  text-align: center;
}
.opinion-info p {
  margin-bottom: 0;
  line-height: 1.5;
  text-align: center;
}
#service {
  color: red;
}
.product-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 140px;
}
.product {
  display: inline-block;
  width: 300px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #202020;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.8);
}
.product h4 {
  margin-top: 0;
  color: #ff4500;
}
.product img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  object-fit: cover;
  max-height: 180px;
}
.product p {
  margin-top: 5px;
  color: #ccc;
  font-size: 14px;
  line-height: 1.6;
}
.product button {
  background-color: #ff4500;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}
.product button:hover {
  background-color: #cc3700;
}
.navdiv{
  position: fixed;
  left: 0;
  background-color: black;
  right: 0;
}
